{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
<table class="table table-hover">
    <thead>
        <tr>
            <td>순위</td>
            <td>곡명</td>
            <td>가수</td>
            <td>앨범</td>
        </tr>
    </thead>
    <tbody>
        {% for rank, song, singer, album in data %}
        <tr>
            <td>{{rank}}</td>
            <td>{{song}}</td>
            <td>{{singer}}</td>
            <td>{{album}}</td>
        </tr>
        {% endfor %}
        
        <!-- Index 값으로도 접근이 가능하다.-->
        {% for i in data %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
            <td>{{i.3}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>    
{% endblock %}