{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
<table class="table table-hover">
    <thead>
        <tr>
            <td>순위</td>
            <td>곡명</td>
            <td>가수</td>
            <td>앨범</td>
        </tr>
    </thead>
    <tbody>
        {% for s in data %}
        <tr>
            <td>{{s.rank}}</td>
            <td>{{s.song}}</td>
            <td>{{s.singer}}</td>
            <td>{{s.album}}</td>
        </tr>        
        {% endfor %}
    </tbody>
</table>

</div>    
{% endblock %}