<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Detail // <a href="/list">LIST</a></h3>
    ID : {{dto.idx}} <br />
    hit : {{dto.hit}} <br />
    title : {{dto.title}} <br />
    writer : {{dto.writer}} <br />
    content : {{dto.content}} <br />
    date : {{dto.post_date}} <br /> <!-- post_date 뒤에 |time: 'Y-m-d H:i' : 시간포맷 변경할 때 추가-->
    file : {{dto.filename}} <br />
    <a href="/update_form/{{dto.idx}}">수정</a>
    <a href="/delete/{{dto.idx}}/">삭제</a>
    <br/><br/>

    <h4>Comment</h4>
    <form action="/comment/insert/" method="post">
        <input type="hidden" name="idx" value="{{dto.idx}}">
        <textarea name="content" rows="5" cols="50" placeholder="Comment_insert">
        </textarea>
    </form>

</body>
</html>