<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Detail // <a href="/list">LIST</a></h3>
    ID : {{dto.idx}} <br />
    hit : {{dto.hit}} <br />
    title : {{dto.title}} <br />
    writer : {{dto.writer}} <br />
    content : {{dto.content}} <br />
    date : {{dto.post_date}} <br /> <!-- post_date 뒤에 |time: 'Y-m-d H:i' : 시간포맷 변경할 때 추가-->
    file : {{dto.filename}} <br />
    <a href="">수정</a>
    <a href="/delete/{{dto.idx}}/">삭제</a>
</body>
</html>