{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>상세보기</h3>
    <table class="table table-hover">
        
        <tr>
         <th>글번호</th>
         <td>{{board.id}}</td>
         <th>조회수</th>
         <td>{{board.hit}}</td>
        </tr>

        <tr>
            <th>작성자</th>
            <td>{{board.writer}}</td>
            <th>작성일</th>
            <td>{{board.post_date|date:'Y-m-d'}}</td>
           </tr>

           <tr>
            <th>글내용</th>
            <td colspan="3">{{board.content}}</td>
           </tr>
           
           <tr>
            <th>파일</th>
            <td colspan="3">{{board.filename}}</td>
           </tr>
    </table>

    <button type="button" class="btn btn-secondary btn-sm">수정</button>
    <button type="button" class="btn btn-danger btn-sm">삭제</button>

    <!-- Comment Insert -->
    <div class="mt-3">
        <form action="/comment_insert/" method="post">
            <div class="form-group">
                <label for="content">Comment:</label>
                <textarea class="form-control" rows="5"
                id="content"  name="content"></textarea>
            <button type="submit" class="btn btn-success btn-sm">Comment Write</button>
        </form>
    </div>




</div>

{% endblock %}