{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-end"
    <h3>LIST({{boardCount}}) // <a href="/write_form">Insert</a></h3>
    <form action="/list" method="get">
        <select name="field" id="field">
          <option value="title">제목</option>
          <option value="writer">작성자</option>
          <option value="content">내용</option>
          <option value="all">제목+작성자+내용</option>
        </select>
        <input type="text" name="word" placeholder="Search"/>
        <input type="submit" value="검색"  />
    </form>    
    <br/>
    <table border="1">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>첨부파일</th>
                <th>파일이미지</th>
                <th>다운로드</th>
            </tr>
        </thead>
        <tbody>
        {% for  board  in  boardList  %}    
            <tr>
                <td>{{board.idx}}</td>
                <td><a href="/detail_idx?idx={{board.idx}}">{{board.title}}</a>
                // <a href="/detail/{{board.idx}}">{{board.title}}</a>
                
                </td>
                <td>{{board.writer}}</td>
                <td>{{board.post_date|date:'Y-m-d  H:i'}}</td>
                <td>{{board.hit}}</td>
                <td>{{board.filename}}</td>
                <td>
                    {% if board.filesize > 0 %}   
                    <span class="_imgs" data-url="/download_count?idx={{board.idx}}">
                        <img src="{% static 'images/file.jpg' %}">
                    </span>     
                    {% endif %}
                </td>
                <td class="downCnt">{{board.down}}</td>
                
            </tr>
        {% endfor %}    

        </tbody>
    </table>
    <br/><br/>
   <!-- 이전 -->
   {% if startPage > blockPage %}
    <a href='?page={{startPage|add:-3}}&field={{field}}&word={{word}}'>이전</a>
   {% endif  %}
   <!-- 페이지번호 -->
   {% for i in range %}
    {% if i == currentPage %}
        [{{i}}]
    {% else %}    
        <a href='?page={{i}}&field={{field}}&word={{word}}'>{{i}}</a>
    {% endif%}
    
   {% endfor %}

   <!-- 다음 -->
   {% if  endPage  < totPage %}
    <a href='?page={{endPage|add:1}}&field={{field}}&word={{word}}'>다음</a>
   {% endif  %}



   <script>
    $("._imgs").on('click',function(){
         _imgs = $(this)
         $.ajax({
            url:$(this).data('url'),  //$(this).attr('data-url')
            type:'GET',
            success:function(data){
                //alert(data.count)
                _imgs.parent().parent().find(".downCnt").text(data.count)
                location.href="/download?idx="+data.idx
            }
         })

    })



   </script>
   </div>
</body>
</html>