{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Insert</h2>
    <form action="/insert/" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="writer">Writer:</label>
        <input type="text" class="form-control" id="writer"
        value="{{user.username}}" placeholder="Enter writer" name="writer" readonly>
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" rows="5" id="content" name="content"></textarea> 
      </div>
      <div class="form-group">
        <label for="file">File:</label>
        <input type="file" class="form-control" id="file" placeholder="Enter File" name="file">
      </div>
 
      <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
</div>
{% endblock %}